{
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto",
  "singleQuote": true,
  "bracketSameLine": true, 
  "endOfLine": "auto"  
}